.btn,
.jumbotron,
.nav :hover {
  border-radius: 0px;
}

body {
  background: rgb(92, 7, 85);
  background: linear-gradient(
    90deg,
    rgba(92, 7, 85, 0.8018557764902836) 12%,
    rgba(189, 27, 27, 0.5553571770505077) 85%,
    rgba(29, 0, 255, 0.5861695019804797) 100%
  );
  /* background-color:#5e3e10; */
}

#bd {
  /* #004953 */
  background-color: #edb33d;
  border-radius: 3%;
  opacity: 0.8;
}

#cp {
  margin-top: 5px;
  /* background-color: black; */
  font-size: 23px;
  color: #5e3e10;
  font-weight: bold;
  text-align: justify;
}
#title {
  color: black;
  float: right;
  font-size: 22px;
  text-decoration: overline;
  position: absolute;
  bottom: 8%;
}
#Rm {
  text-decoration: overline;
  font-size: 40px;
  margin-bottom: 20px;
}
#pic {
  object-fit: stretch;
}
#cards-row {
  margin-left: 30px;
}
#cards {
  margin-left: 400px;
}
#edit {
  position: absolute;
  bottom: 5%;
}
